<form>
  <div class="edit-edu">
    <h3>Educacion</h3>

    <!--
  <div class="edu-cont">
    <div class="edu-item-edit">
      <h5 class="edu-title-edit">Instituto Jose Hernandez / Primario</h5>
      <span class="edu-date-edit">2010 - 2016</span>
      <p class="edu-ubi-edit">B1761MPV, Constancio Vigil 3000-3198, B1761MPV Merlo, Provincia de Buenos Aires</p>
    </div>
  </div>
  -->

    <div class="form-control">
      <label for="edir-edu-title">Titulo y Educacion</label>
      <input type="text" name="edir-edu-title" id="edir-edu-title" />
    </div>

    <div class="form-control">
      <label for="edir-edu-date-init">Fecha de Inicio</label>
      <input type="date" name="edir-edu-date-init" id="edir-edu-date-init" />
    </div>

    <div class="form-control">
      <label for="edir-edu-date-fin">Fecha de Finalizacion</label>
      <input type="date" name="edir-edu-date-fin" id="edir-edu-date-fin" />
    </div>

    <div class="form-control">
      <label for="edir-edu-ubi">Ubicacion</label>
      <input type="text" name="edir-edu-ubi" id="edir-edu-ubi" />
    </div>

    <button type="button" class="add">Agregar</button>
  </div>
</form>
