<form (ngSubmit)="onSubmit()" #form="ngForm">
  <div class="edit-edu">
    <h3>Educacion</h3>

    <div class="edit-list-cont">
      <div class="edit-item-edit" *ngFor="let i of list">
        <h5 class="item-title-edit">{{i.titulo}}</h5>
        <span class="item-date-edit">{{i.fechaInicio}} - {{i.fechaFinal}}</span>
        <p class="item-ubi-edit">{{i.ubicacion}}</p>
        <div>
          <button type="button" class="btn-form-edit btn-delet">
            Eliminar
          </button>
          <button type="button" class="btn-form-edit btn-edit">Editar</button>
        </div>
      </div>
    </div>

    <div class="form-control">
      <label for="edir-edu-title">Titulo y Educacion</label>
      <input type="text" name="edir-edu-title" id="edir-edu-title" [(ngModel)]="edirEduTitle" required/>
    </div>

    <div class="form-control">
      <label for="edir-edu-date-init">Fecha de Inicio</label>
      <input type="date" name="edir-edu-date-init" id="edir-edu-date-init" [(ngModel)]="fechaInicio" required/>
    </div>

    <div class="form-control">
      <label for="edir-edu-date-fin">Fecha de Finalizacion</label>
      <input type="date" name="edir-edu-date-fin" id="edir-edu-date-fin" [(ngModel)]="fechaFin" required/>
    </div>

    <div class="form-control">
      <label for="edir-edu-ubi">Ubicacion</label>
      <input type="text" name="edir-edu-ubi" id="edir-edu-ubi" [(ngModel)]="ubicacion" required/>
    </div>

    <button type="submit" class="add" [disabled]="!form.valid">Agregar</button>
  </div>
</form>
