<div class="edit-expe">
  <h3>Experiencias</h3>

  <div class="form-control">
    <label for="edir-exp-title">Titulo de la Experiencia</label>
    <input type="text" name="edir-exp-title" id="edir-exp-title">
  </div>

  <div class="form-control">
    <label for="edir-exp-date-init">Fecha de Inicio</label>
    <input type="date" name="edir-exp-date-init" id="edir-exp-date-init">
  </div>

  <div class="form-control">
    <label for="edir-exp-date-fin">Fecha de Finalizacion</label>
    <input type="date" name="edir-exp-date-fin" id="edir-exp-date-fin">
  </div>

  <div class="form-control">
    <label for="edir-exp-des">Descripcion</label>
    <textarea name="edir-exp-des" id="edir-exp-des" cols="30" rows="10"></textarea>
  </div>
</div>
