h1{
  text-align: center;
  font-size: 36px;
}

.cont-form{
  padding: 10px;
  width: 75%;
  background-color: #03001C;
  color: #FFF;
  margin: 5px auto;
  border-radius: 10px;
  border: 1px solid #5B8FB9;
}

@media (min-width: 768px) {
  .cont-form{
    width: 50%;
  }
}
