<form>
  <div class="edit-contact">
    <h3>Contactos</h3>

    <div class="form-control">
      <label for="cont-email">Correo Electronico</label>
      <input type="email" name="cont-email" id="cont-email" />
    </div>

    <div class="form-control">
      <label for="cont-ig">Instagram</label>
      <input type="url" name="cont-ig" id="cont-ig" />
    </div>

    <div class="form-control">
      <label for="cont-ln">Linkedin </label>
      <input type="url" name="cont-ln" id="cont-ln" />
    </div>

    <div class="form-control">
      <label for="cont-gh">GitHub</label>
      <input type="url" name="cont-gh" id="cont-gh" />
    </div>

    <button type="button" class="add">Guardar</button>
  </div>
</form>
