.expe-btn{
  display: flex;
  justify-content: center;
}

.btn{
  margin: 5px;
  text-align: center;
  padding: 5px;
  width: 100px;
  border-radius: 25px;
  color: white;
  transition: all 0.2s;
}

.btn-demo{
  border: 1px solid var(--font-color-primary);
  color: var(--font-color-primary);
}

.btn-code{
  border: 1px solid #21c2af;
  color: #21c2af;
}

.btn-demo:hover{
  background-color: var(--font-color-primary);
  color: white;
}

.btn-code:hover{
  background-color: #21c2af;
  color: white;
}
