<div class="edit-home">
  <h3>Inicio</h3>
  <div class="form-control">
    <label for="name">Nombre Completo</label>
    <input type="text" name="name" id="name" />
  </div>

  <div class="form-control">
    <label for="title-home">Titulo Principal</label>
    <input type="text" name="title-home" id="titleHome" />
  </div>

  <div class="form-control">
    <label for="des-home">Descripcion Principal</label>
    <textarea name="des-home" id="des-home" cols="30" rows="10"></textarea>
  </div>

  <div class="form-control">
    <label for="img-home">Imagen Principal</label>
    <input type="file" name="img-home" id="img-home">
  </div>
</div>
