<form (ngSubmit)="onSubmit()" #form="ngForm">
  <div class="edit-skill">
    <h3>Habilidades</h3>
    <div class="form-control">
      <label for="des-skill">Descripcion Habilidades</label>
      <textarea name="des-skill" id="des-skill" cols="30" rows="10"></textarea>
    </div>
    <div class="form-control-skill">
      <h4>Conocimiento en</h4>

      <div class="skillbox" *ngFor="let item of items">
        <label for="{{item.value}}">{{item.label}}</label>
        <input type="checkbox" id="{{item.value}}" name="{{item.value}}" [(ngModel)]="item.checked">
      </div>

    </div>

    <button type="submit" class="add" [disabled]="!form.valid">Guardar</button>
  </div>
</form>
