<div class="skills">
  <div class="skills-info">
    <h2 class="skills-tilte">Mis habilidades</h2>
    <span class="skills-info">Mis habilidades actuales con la que trabajo son Angular y Java con Spring</span>
  </div>

  <div class="skills-cont">
    <div class="skills-component">
      <i class="fab fa-html5"></i>
      <h3 class="skills-comp-info">1 años de experienia</h3>
    </div>

    <div class="skills-component">
      <i class="fab fa-css3-alt"></i>
      <h3 class="skills-comp-info">1 años de experienia</h3>
    </div>

    <div class="skills-component">
      <i class="fab fa-js"></i>
      <h3 class="skills-comp-info">1 años de experienia</h3>
    </div>

    <div class="skills-component">
      <i class="fab fa-angular"></i>
      <h3 class="skills-comp-info">1 años de experienia</h3>
    </div>

    <div class="skills-component">
      <i class="fab fa-java"></i>
      <h3 class="skills-comp-info">1 años de experienia</h3>
    </div>
  </div>
</div>