<form>
  <div class="edit-project">
    <h3>Projectos</h3>

    <div class="edit-list-cont project-edit-grid">
      <div class="edit-item-edit project-edit-box" *ngFor="let i of list">
        <h5 class="item-title-edit">Desarrollador Backend Node.js</h5>
        <img class="item-img-edit" src="../../../assets/img/project.jpg">
        <p class="item-ubi-edit">
          Colaboré como desarrollador backend en un equipo sobre un proyecto de
          un E-commerce con la metodología Scrum bajo el lenguaje de JavaScript
          con la librería Express.
        </p>
        <div>
          <button type="button" class="btn-form-edit btn-delet">
            Eliminar
          </button>
          <button type="button" class="btn-form-edit btn-edit">Editar</button>
        </div>
      </div>
    </div>

    <div class="form-control">
      <p>Imagen del projecto</p>
      <div class="btn-add-img">
        <label for="proj-img" class="text-img">Agregar Imagen</label>
        <input type="file" name="proj-img" id="proj-img" />
      </div>
    </div>

    <div class="form-control">
      <label for="proj-name">Nombre del projecto</label>
      <input type="text" name="proj-name" id="proj-name" />
    </div>

    <div class="form-control">
      <label for="proj-des">Descripcion del projecto</label>
      <textarea name="proj-des" id="proj-des" cols="30" rows="10"></textarea>
    </div>

    <div class="form-control">
      <label for="proj-code">Link de la Demo</label>
      <input type="url" name="proj-demo" id="proj-demo" />
    </div>

    <div class="form-control">
      <label for="proj-code">Link del codigo</label>
      <input type="url" name="proj-code" id="proj-code" />
    </div>

    <div class="form-control">
      <label for="proj-github">Link de GitHub</label>
      <input type="url" name="proj-github" id="proj-github" />
    </div>

    <button type="button" class="add">Agregar</button>
  </div>
</form>
