<div class="edit-project">

  <h3>Projectos</h3>

  <div class="form-control">
    <label for="proj-img">Imagen del projecto</label>
    <input type="file" name="proj-img" id="proj-img">
  </div>

  <div class="from-control">
    <label for="proj-name">Nombre del projecto</label>
    <input type="text" name="proj-name" id="proj-name">
  </div>

  <div class="from-control">
    <label for="proj-des">Descripcion del projecto</label>
    <textarea name="proj-des" id="proj-des" cols="30" rows="10"></textarea>
  </div>

  <div class="from-control">
    <label for="proj-code">Link de la Demo</label>
    <input type="url" name="proj-demo" id="proj-demo">
  </div>

  <div class="from-control">
    <label for="proj-code">Link del codigo</label>
    <input type="url" name="proj-code" id="proj-code">
  </div>

  <div class="from-control">
    <label for="proj-github">Link de GitHub</label>
    <input type="url" name="proj-github" id="proj-github">
  </div>
</div>
