<form (ngSubmit)="onSubmit()" #form="ngForm">
  <div class="edit-project">
    <h3>Projectos</h3>

    <div class="edit-list-cont project-edit-grid">
      <div class="edit-item-edit project-edit-box" *ngFor="let i of list">
        <h5 class="item-title-edit">{{i.titulo}}</h5>
        <img class="item-img-edit" [src]="i.img">
        <p class="item-ubi-edit">{{i.descrip}}</p>
        <div>
          <button type="button" class="btn-form-edit btn-delet">
            Eliminar
          </button>
          <button type="button" class="btn-form-edit btn-edit">Editar</button>
        </div>
      </div>
    </div>

    <div class="form-control">
      <p>Imagen del projecto</p>
      <div class="btn-add-img">
        <label for="proj-img" class="text-img">Agregar Imagen</label>
        <input type="file" name="proj-img" id="proj-img" (change)="onFileSelected($event)" required/>
      </div>
    </div>

    <div class="form-control">
      <label for="proj-name">Nombre del projecto</label>
      <input type="text" name="proj-name" id="proj-name" [(ngModel)]="titulo" required/>
    </div>

    <div class="form-control">
      <label for="proj-des">Descripcion del projecto</label>
      <textarea name="proj-des" id="proj-des" cols="30" rows="10" [(ngModel)]="descrip" required></textarea>
    </div>

    <div class="form-control">
      <label for="proj-code">Link de la Demo</label>
      <input type="url" name="proj-demo" id="proj-demo" [(ngModel)]="demo" required/>
    </div>

    <div class="form-control">
      <label for="proj-code">Link del codigo</label>
      <input type="url" name="proj-code" id="proj-code" [(ngModel)]="code" required/>
    </div>

    <button type="submit" class="add" [disabled]="!form.valid">Agregar</button>

  </div>
</form>

<form (ngSubmit)="onSubmitGitHub()" #formGitHub="ngForm">
  <div class="edit-project">

    <h3>Link Principal de GitHub</h3>

    <div class="form-control">
      <label for="proj-github">Link de GitHub</label>
      <input type="url" name="proj-github" id="proj-github" required/>
    </div>

    <button type="button" class="add" [disabled]="!form.valid">Guardar</button>
  </div>
</form>
