/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@100;300;400;500&display=swap');

:root{
  --font-color-primary: #1E0E62;
  --font-color-secondary: #15143966;
  --bg-color-primary: #FFFFFF;
  --bg-color-secondary: #F1F1F1;
}

*{
  font-family: 'Press Start 2P', cursive;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
  /*filter: invert(100%);*/
}

/*
html img{
  filter: invert(100%);
}
*/
ul{
  list-style: none;
}

a{
  text-decoration: none;
}

.navbar-tilte{
  color: var(--font-color-primary);
}

.navbar{
  display: flex;
  position: fixed;
  background-color: var(--bg-color-primary);
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
  min-width: 100vw;
  height: 30px;
  padding: 5px 0px;
  justify-content: space-around;
  z-index: 10;
}

.login-button{
  padding: 2px;
  text-align: center;
  width: 75px;
  background: #25DAC5;
  border-radius: 100px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  transition: all 0.2s;
}

.login-button:hover{
  background: #20c5b2;
}

/*Home*/

.home{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  position: relative;
  top: 40px;
  height: 600px;
  background: var(--bg-color-secondary);
  padding: 10px;
}

.home-text{
  width: 250px;
  height: 300px;
  position: relative;
  padding: 10px;
  margin: auto;
}

.home-tilte{
  position: relative;
  top: 40px;
  font-weight: 700;
  font-size: 38px;
  color: var(--font-color-primary);
  line-height: 60px
}

.home-info{
  position: relative;
  top: 60px;
  color: var(--font-color-secondary);
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

.home-img{
  position: relative;
  margin: auto;
  width: 250px;
  height: 200px;
  padding: 10px;
}

/*Skills*/

.skills{
  text-align: center;
  display: flex;
  flex-direction: column;
  top: 40px;
  background-color: var(--bg-color-secondary);
}

.skills-info{
  height: 100px;
  width: 75%;
  margin: 40px auto;
}

.skills-tilte{
  color: var(--font-color-primary);
  font-weight: 500;
  font-size: 48px;
  line-height: 28px;
  padding-top: 50px;
  border-top: 1px solid var(--font-color-secondary);
}

.skills-info{
  color: var(--font-color-secondary);
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;

}

.skills-cont{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 10px;
  padding: 10px;
  margin: 40px auto;
  width: 75%;
}

.skills-component{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin:  0 auto;
  width: 230px;
  height: 250px;
}

.skills-component > i:hover{
  transform: scale(1.2);
}

.skills-component > i {
  font-size: 7rem;
  padding: 5px;
  transition: all 0.2s;
}

.skills-comp-info{
  padding: 10px;
  font-weight: 600;
  font-size: 14px;
  color: var(--font-color-primary);
}

.fa-html5:hover{
  color: orange;
}

.fa-css3-alt:hover{
  color: cornflowerblue;
}

.fa-js:hover{
  color: rgb(182, 182, 2);
}

.fa-angular:hover{
  color: red;
}

.fa-java:hover{
  color: rgb(167, 1, 1);
}

/*Experiencias/Proyectos*/

.expe{
  padding: 50px 0px;
  position: relative;
  background-color: var(--bg-color-primary);
  display: flex;
  flex-direction: column;
}

.expe-header{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 75%;
  margin: auto;
}

.expe-tilte{
  color: var(--font-color-primary);
  font-weight: 500;
  font-size: 48px;
  line-height: 28px;
}

.expe-comp-img{
  width: 225px;
}

.expe-cont-github{
  text-align: center;
  padding: 15px 0;
  width: 200px;
  margin: 25px auto;
  background: #25DAC5;
  border-radius: 100px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
  transition: all 0.2s;
}

.expe-cont-github:hover{
  background-color: #20c5b2;
}

.expe-cont{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 10px;
  margin: 40px auto;
  width: 75%;
}

.expe-cont-comp{
  width: 90%;
  height: 375px;
  background-size: contain;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 15px;
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.expe-comp-tilte{
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: var(--font-color-primary);
}

.expe-descript{
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--font-color-secondary);
}

/*Footer*/

footer{
  position: relative;
  background-color: var(--bg-color-secondary);
  text-align: center;
  padding: 25% 0px;
  font-size: 1.2rem;
}

.link-icon{
  padding: 20px 0px;
}

.contact-link-icon{
  margin: 20px;
}

.contact-link-icon > i{
  color: #9999A7;
  transition: all 0.2s;
}

.contact-link-icon:hover > i{
  color: var(--font-color-primary);
}

/*Page Edit*/
.edit-list-cont{
  width: 90%;
  margin: 0 auto;
}

.btn-form-edit{
  width: 50%;
  height: 30px;
  border: none;
  color: white;
  border-radius: 2px;
  font-size: 16px;
}

.btn-delet{
  background-color: red;
}

.btn-edit{
  background-color: rgb(255, 217, 0);
}

.edit-item-edit{
  background-color: #301E67;
  padding: 4px;
  border-radius: 5px;
  margin: 4px 0px;
}

.add{
  margin: 0 auto;
  width: 200px;
  position: relative;
  padding: 11px 16px;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 3px;
  color: #fff;
  background-color: #71b95b;
  border: 0;
  transition: 0.2s;
  overflow: hidden;
}

.add:hover{
  background-color: #4ea04e;
}

h3{
  text-align: center;
  font-size: 32px;
}

.form-control{
  margin: 5px 10px;
  display: flex;
  flex-direction: column;
}

textarea{
  max-width: 98%;
  min-width: 98%;
  min-height: 100px;
  max-height: 150px;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #5B8FB9;
}

input{
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 5px;
  border: 1px solid #5B8FB9;
}

/*Media Query*/

@media (min-width: 590px) {
  .home{
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}

@media (min-width: 680px) {

  footer{
    padding: 15% 0px;
    font-size: 1.2rem;
  }
}


@media (max-width: 1024px) {
  .home-tilte{
    font-size: 28px;
  }
}

@media (max-width: 425px) {
  .skills-tilte{
    font-size: 28px;
  }
}

@media (min-width: 1024px) {

  footer{
    padding: 10% 0px;
    font-size: 2rem;
  }
}

@media (min-width: 1300px) {

  .expe-cont{
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }

  .expe-comp-img{
    width: 350px;
  }

  .expe-cont-comp{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .expe-descript{
    padding: 0 50px ;
  }

  .home{
    border: none;
  }

  .skills-tilte{
    font-weight: 500;
    line-height: 28px;
  }

  .home-text{
    width: 350px;
  }

}

