<div class="experince">
  <h1 class="expe-title">Experiencias</h1>

  <div class="grid-expe">
    <div class="cont-expe" *ngFor="let p of prueba">
      <h2 class="expe-title-item">Desarrollador Backend Node.js</h2>
      <span class="expe-date">Mayo - 2022 / Julio - 2022</span>
      <p class="expe-des">
        Colaboré como desarrollador backend en un equipo sobre un proyecto de un
        E-commerce con la metodología Scrum bajo el lenguaje de JavaScript con la
        librería Express.
      </p>
    </div>
  </div>
</div>
